body{
    background-color: rgb(255, 255, 255);
}
.main{
    
    width:30%;
    margin-top: 100px;
    margin-left: 550px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(222, 218, 218);
    box-shadow: 0.5px 0.5px 1px 0.5px rgb(212, 212, 212);
    padding-bottom: 60px;
}

.head{
    background-color: rgb(255, 255, 255);
    height: 150px;
    
}
.user{
    color: gray;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left:15px;
    margin-right: 15px;
    background-color: #ffffff;
    border: 2px solid gray;
    box-shadow: 1px 1px 5px 1px rgb(212, 212, 212);
    border-radius: 15px;
    
}
/* .pas{
    margin-left:15px;
    margin-right: 15px;
    background-color: #ffffff;
    border: 2px solid gray;
    box-shadow: 2px 2px 5px 1px grey;
    border-radius: 10px;
} */
.a{
    padding-left: 15px;
}

.b{
    padding-left: 15px;
}
.c{
    text-align: center;
    color: #fafafa;    
}

.log{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left:15px;
    margin-right: 15px;
    background-color: #0095f6;
    border: 1px solid gray;
   box-shadow: 1px 1px 5px 1px rgb(212, 212, 212);
    border-radius: 30px;
    font-weight: 500;
    opacity: 40%;
}

.f{
    text-align: center;
}


.help{

    text-align: center;
    font-weight: 600;
}

.sign{
    text-align: center;
}

h1{
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 60px;
    
}

.face{
    font-weight: 500;
    text-align: center;
    height: 30px;
    margin-left:15px;
    margin-right: 15px;
    background-color: #dbdbdb;
    border: 2px;
    border-radius: 20px;
    padding-top: 7px;
}
.sign{
    font-weight: 600;
    color: #0095f6;
    text-align: center;
    height: 30px;
    margin-left:15px;
    margin-right: 15px;
    background-color: #fff;
    border: 2px solid ;
    border-radius: 20px;
    padding-top: 7px;
}


*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
img{
    height: 16px;
    width: 16px;
    padding-top:1px;
    border-radius: 20px;
}

.meta{
    font-family:monospace;
    font-size: larger;
    text-align: center;
    padding-top: 20px;
    font-weight: 400;
}

.met{
width: 20px;
height: 20px;
padding-top: 2px;
border-radius: 20;
}